<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}IT{% endblock %}</title>
        <link rel="icon" href="build/img/favicon.png">
        <meta name="Portfolio Isabelle TEYSSIEUX" content="Portfolio Isabelle TEYSSIEUX" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:url" content="https://www.linkedin.com">
    <meta property="og:description" content="Isabelle TEYSSIEUX">
    <meta property="og:site_name" content="Isa web developper junior">
    <meta name="=twitter:card" content="">
    <meta name="=twitter:site" content="">
    <meta name="=twitter:title" content="">
    <meta name="=twitter:description" content="">
    <meta name="twitter:image:src" content="">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
        <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque|Montserrat|Open+Sans+Condensed:300|Raleway:100,300,400,700,800,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
        {{ encore_entry_link_tags('base') }}
    </head>
    <body>
        {% block body %}
 
       
        {% endblock %}
       
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
        {{ encore_entry_script_tags('app') }}
        {% block script %}

       {% endblock %}
    </body>
</html>
