<section class="projet">
    <div class="container-fluid">
        <div class="titre">
            <h4 id="competences">Mes compétences</h4>
        </div>
        <div class="trait">
            <span class="separation"></span>
        </div>
        <div class="container magical">
            <div class="row">
                <div class="col-12 row">
                    <div class="col-2 bubble"></div>
                    <div class="col-2 bubble"></div>
                    <div class="col-2 bubble"></div>
                </div>
                <div class="col-12 row">
                    <div class="col-2 bubble"></div>
                    <div class="col-2 bubble"></div>
                    <div class="col-2 bubble"></div>
                </div>
            </div>
        </div>
    </div>
</section>
