<section class="projet4">
    <div class="container-fluid">
        <div class="titre">
            <h4 id="competences">Mes compétences</h4>
        </div>
        <div class="trait">
            <span class="separation"></span>
        </div>
            </div>
    <div class=competence>
            <p href="" class="typewrite" data-period="800" data-type='[ "dynamique.", "sérieuse.", "rigolote.", "polyvalente." , "inventive." ]'>
                    <span class="me"></span>
                </p>
            </div> 
            <div class="grafic3">
                </div>      
                {% block script %}
                {{ encore_entry_script_tags('script') }}
               {% endblock %}
</section>
