<section class="projet">
    <div class="container-fluid">
        <div class="titre">
            <h4 id="competences">Mes compétences</h4>
        </div>
        <div class="trait">
            <span class="separation"></span>
        </div>
            </div>

</section>
