{% block body %}
<section class="mb-4 projet2">
        <div class="container-fluid">

            <div class="titre">
                <h4 id="contact">Contactez-moi</h4>
            </div>
            <div class="trait">
                <span class="separation"></span>
            </div>




            <h5>Vous êtes intéressés alors n'hésitez pas</h5>
            <div class="container">
                <div class="row contacter">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <form id="contact-form" name="contact-form" action="" method="POST" novalidate>

                            <!--Grid row-->

                            <!--Grid column-->
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="text" id="name" name="name" required class="form-control" placeholder="Votre nom">
                                    <label for="name" ><span class="msg-error"><span>Erreur</span>Cette étape est
                                        obligatoire</span> </label>
                                </div>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="email" id="email" name="email" required class="form-control" placeholder="Votre email">
                                    <label for="email"> <span class="msg-error"><span>Erreur</span>Cette étape est
                                        obligatoire</span> </label>
                                </div>
                            </div>
                            <!--Grid column-->


                            <!--Grid row-->



                            <!--Grid row-->


                            <!--Grid column-->
                            <div class="col-md-12 mb-0">
                                <div class="md-form">
                                    <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"  required placeholder="Votre message"></textarea>
                                    <label for="message"><span class="msg-error"><span>Erreur</span>Cette étape est
                                        obligatoire</span> </label>
                                </div>

                            </div>

                            <!--Grid row-->
                            <div class="text-center text-md-center">

                                    <button type="submit" class="bouton send">Envoyer<i class="ionicons ion-paper-airplane"></i></button>
                            
                            </div>
                        </form>


                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6 text-center">
                        <ul class="list-unstyled mb-0">
                            <li><i class="fas fa-map-marker-alt fa-2x"></i>
                                <p>Dole, Jura 39100, France</p>
                            </li>

                            <li><i class="fas fa-phone mt-4 fa-2x"></i>
                                <p>+ 06 515 518 07</p>
                            </li>

                            <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                                <p>isabelle.t@codeur.online</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--Grid column-->
            </div>


        </div>
      

        <a id="top" title="Haut" href="#accueil" class="fa fa-chevron-up punchline"></a>
       
    </section>
    <!-- <figure class="snip1437">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample69.jpg" alt="sample69" />
        <figcaption>
            <h3>Mes compétences</h3>

            <ul class="links">
                <li> <a href="#">Vintage</a></li>
                <li> <a href="#">Classic</a></li>
                <li> <a href="#">Luxury</a></li>
                <li> <a href="#">Retro</a></li>
            </ul>
        </figcaption>
    </figure> -->
    {% endblock %}
    {% block script %}
    {{ encore_entry_script_tags('contact') }}
   {% endblock %}