{% block body %}
<footer>
          
    
        <a class="email-ic mr-3" role="button"><i class="fab fa-linkedin"></i></i></a>

        <a href="https://www.linkedin.com/in/isabelle-t-523835182/">Mon Linkedin</a><br>
    </footer>
    {% endblock %}