<footer>
              
        <a class="email-ic mr-3" role="button"><i class="far fa-lg fa-envelope"></i></a>

        <a href="mailto:isabelle.t@codeur.online">isabelle.t@codeur.online</a> <br>
    </footer>