{% extends 'base.html.twig' %}
{% block body %}
<header>
    <div class="btn-navig">
    <img src="build/img/etoile.png" onclick="myMenu()">
</div>

    <div class="navigation">
        <ul >
            <li>
                <a  href="#accueil">ACCUEIL</a>
            </li>
            <li>
                <a   href="#competences">COMPETENCES</a>
            </li>
            <li >
                <a  href="#portfolio">PROJETS</a>
            </li>
            <li>
                <a  href="#technologies">PARCOURS</a>
            </li>
            <li>
                <a  href="#contact">CONTACT</a>
            </li>
        </ul>
    </div>
</header>
{% endblock %}