{% block body %}
<section class="projet3">
        <div class="container-fluid">
            <div class="titre">
                <h4 id="parcours">Mes formations</h4>
            </div>
            <div class="trait">
                <span class="separation"></span>
            </div>
            
                <ul class="mon-parcours">
                    <li>
                        <div class="cercle-current"></div>
                        <div class="parcours"> 
                                <p class="diplome"><a class="cote-droit" > Préparation au Titre pro. niv III développeur web et web mobile</a><a class="cote-droit" href="https://www.accesscodeschool.fr/"> AccesCodeSchool</a></p>
                            <p class="diplome-autres"><span class="fas fa-map-marker-alt fa-space-right"></span> Besançon</p>
                            <p class="diplome-autres"><i class="ion-ios-calendar-outline" ></i> 2019</p>
                            <p class="diplome-autres">Formation de 8 mois pour acquérir les techniques du web. Apprentissage du front-end dans un premier temps et ensuite de la partie back-end. Réalisation de projets en groupe ou en individuel.</p>
                        </div>
                    </li>
                    <li class="droit"> 
                        <div class="cercle"></div>
                        <div class="parcours">
                            <p class="diplome"><span class="fas fa-user-graduate fa-space-right"></span><a class="cote-droit" > Master Diplôme d’Etudes Comptables et Financières </a>- <a class="diplome" href="http://www.sb-lycee.fr/">Lycée St Bénigne </a></p>
                            <p class="diplome-autres"><span class="fas fa-map-marker-alt fa-space-right"></span> Dijon</p>
                            <p class="diplome-autres"><i class="ion-ios-calendar-outline"></i> 1997</p>
                            <p class="diplome-autres">Maitrise de la comptabilité générale, financière, et du controle de gestion. Mais, aussi de la partie économie et droit : droit des sociétés, fiscal, et social. </p>
                        </div>
                    </li>
                    <li>
                        <div class="cercle"></div>
                        <div class="parcours">
                            <p class="diplome"><span class="fas fa-user-graduate fa-space-right"></span><a class="cote-droit" > Diplôme Prép. aux Etudes Comptables et Financières
                            </a> - <a  href="http://www.sb-lycee.fr/">Lycée St Bénigne </a></p>
                            <p class="diplome-autres"></p><span class="fas fa-map-marker-alt fa-space-right"></span> Dijon</p>
                            <p class="diplome-autres"><i class="ion-ios-calendar-outline"></i> 1995 </p>
                            <p class="diplome-autres">Diplôme sur une année pour préparer le master équivalent d'un bts.</p>
                        </div>
                    </li>
                    <li class="droit">
                        <div class="cercle"></div>
                        <div class="parcours">
                            <p class="diplome"><span class="fas fa-user-graduate fa-space-right"></span><a class="cote-droit"> BAC G2 - mention "assez bien"</a> - <a  href="http://www.sb-lycee.fr/">Lycée St Bénigne </a></p>
                            <p class="diplome-autres"><span class="fas fa-map-marker-alt fa-space-right"></span> Dijon</p>
                            <p class="diplome-autres"><i class="ion-ios-calendar-outline"></i> 1994 </p>
                            <p class="diplome-autres">Apprentissage de la comptabilité générale.</p>
                        </div>
                    </li>
                </ul>
                <div class="grafic3">
                    </div>
     </div>
</section>
{% endblock %}