<section class="projet">
        <div class="container-fluid">
            <div class="titre">
                <h4 id="parcours">Mon parcours</h4>
            </div>
            <div class="trait">
                <span class="separation"></span>
            </div>
                </div>
    
    </section>