<section class="projet">
    <div class="container-fluid">

<div class="titre">
    <h4><strong>Mon parcours</strong> </h4>
    </div>
    <div class="trait">
            <span class="separation"></span>
            </div>
</div>
<div></div>
</section>