<section>
<div class="container-fluid" id="message1">
    <div class="container">
        <div id="titre">
            <div class="row">
                <div class="col-12 ">

                    <img class="img-fluid" src="/build/img/PORTFOLIO.PNG" alt="titre site portfolio" width="422" height="120">
                    <div class="col-12">
                        <h1><span>&lt;#Developpeuse_application_web_<span> et_</span><span>mobile_junior@&gt;</span></span> </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>