<section class="projet">
    <div class="container-fluid">
        <div class="titre">
            <h4 id="portfolio"> Portfolio </h4>

        </div>
        <div class="trait">
            <span class="separation"></span>
        </div>
        <h5>Mes réalisations</h5>
        <div class="row">
                <div class="modal fade" id="museum" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-notify modal-success" role="document">
                  <!--Content-->
                  <div class="modal-content">
                    <!--Header-->
                     <!--Body-->
                    <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="white-text">&times;</span>
                                  </button>
                                </br>
                            <figure class="snip1347">
                                    <img src="build/img/musee2.png" alt="site de gestion de base de données d'un musée" width:300 height:800 />
                                    <div class="titre">A musée vous</div>
                                    <figcaption>
                                      <h2>Description</h2>
                                      <p>Dans le cadre de la formation, projet réalisé à partir d'un jeu de données publiques des musées de France, création d'un site web avec une carte, popup.</p>
                                      <h2>Technologies utilisées</h2>
                                    <p>HTML, Sass, Twig, Javascript, PHP, Bootstrap </p>
                                   
                                      <a class="btn-floating btn-lg btn-git" type="button" role="button"><i class="fab fa-github"></i></a></figcaption>
                                  </figure>
                                  
                    </div>
                
                    
                  </div>
                  <!--/.Content-->
                </div>
                </div>
                <div class="modal fade" id="ski" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-notify modal-success" role="document">
                  <!--Content-->
                  <div class="modal-content">
                    <!--Header-->
                     <!--Body-->
                    <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="white-text">&times;</span>
                                  </button>
                                </br>
                            <figure class="snip1347">
                                    <img src="build/img/ski2.png" alt="première intégration d'une maquette psd sur le thème du ski" width:300 height:800 />
                                    <div class="titre" id="ski2">Too schuss</div>
                                    <figcaption id="schuss">
                                      <h2>Description</h2>
                                      <p>Première intégration web réalisée à partir d'une maquette psd mais sans responsive</p>
                                      <h2>Technologies utilisées</h2>
                                    <p>HTML, CSS </p><a class="btn-floating btn-lg btn-git" type="button" role="button"><i class="fab fa-github"></i></a></figcaption>
                                  </figure>
                                  
                    </div>
                
                    
                  </div>
                  <!--/.Content-->
                </div>
                </div>
                <div class="modal fade" id="easy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-notify modal-success" role="document">
                  <!--Content-->
                  <div class="modal-content">
                    <!--Header-->
                     <!--Body-->
                    <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="white-text">&times;</span>
                                  </button>
                                </br>
                            <figure class="snip1347">
                                    <img src="build/img/blueasy.png" alt="deuxième intégration avec la gestion d'un formulaire" width:300 height:800 />
                                    <div class="titre" id="ble">BueEasy</div>
                                    <figcaption id="ble2">
                                      <h2>Description</h2>
                                      <p>Troisième intégration web réalisée à partir d'une maquette psd responsive et gestion d'un formulaire </p>
                                      <h2>Technologies utilisées</h2>
                                    <p>HTML, CSS, Javascript et PHP</p><a class="btn-floating btn-lg btn-git" type="button" role="button"><i class="fab fa-github"></i></a></figcaption>
                                  </figure>
                                  
                    </div>
                
                    
                  </div>
                  <!--/.Content-->
                </div>
                </div>
                <div class="modal fade" id="lambda" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-notify modal-success" role="document">
                  <!--Content-->
                  <div class="modal-content">
                    <!--Header-->
                     <!--Body-->
                    <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="white-text">&times;</span>
                                  </button>
                                </br>
                            <figure class="snip1347">
                                    <img src="build/img/resto.png" alt="deuxième intégration d'une maquette psd avec utlisation des médiasQueries" width:300 height:800 />
                                    <div class="titre" id="lambada">Lambda</div>
                                    <figcaption id="lambada2">
                                      <h2>Description</h2>
                                      <p>Deuxième intégration web réalisée à partir d'une maquette psd et responsive </p>
                                      <h2>Technologies utilisées</h2>
                                    <p>HTML, CSS, MediaQueries</p><a class="btn-floating btn-lg btn-git" type="button" role="button"><i class="fab fa-github"></i></a></figcaption>
                                  </figure>
                                  
                    </div>
                
                    
                  </div>
                  <!--/.Content-->
                </div>
                </div>
                <div class="modal fade" id="dash" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-notify modal-success" role="document">
                  <!--Content-->
                  <div class="modal-content">
                    <!--Header-->
                     <!--Body-->
                    <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="white-text">&times;</span>
                                  </button>
                                </br>
                            <figure class="snip1347">
                                    <img src="build/img/dash.png" alt="deuxième intégration avec la gestion d'un formulaire" width:300 height:800 />
                                    <div class="titre" id="dash2en1">Passion foot</div>
                                    <figcaption id="dash2">
                                      <h2>Description</h2>
                                      <p>Création d'un tableau de bord pour une section sport, avec une partie administrateur et une partie membres. Gestion des membres, envoie de notifications, traitement des notifications. </p>
                                      <h2>Technologies utilisées</h2>
                                    <p>HTML, CSS, Twig, PHP, Javascript et PhpMyAdmin</p><a class="btn-floating btn-lg btn-git" type="button" role="button"><i class="fab fa-github"></i></a></figcaption>
                                  </figure>
                                  
                    </div>
                
                    
                  </div>
                  <!--/.Content-->
                </div>
                </div>
                <div class="modal fade" id="vinyle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-notify modal-success" role="document">
                  <!--Content-->
                  <div class="modal-content">
                    <!--Header-->
                     <!--Body-->
                    <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="white-text">&times;</span>
                                  </button>
                                </br>
                            <figure class="snip1347">
                                    <img src="build/img/wordpress.png" alt="création d'un thème wordpress" width:300 height:800 />
                                    <div class="titre" id="wp">Vinyle</div>
                                    <figcaption id="wp2">
                                      <h2>Description</h2>
                                      <p>Première intégrationt web réalisée à partir d'une maquette psd </p>
                                      <h2>Technologies utilisées</h2>
                                    <p>HTML, CSS, Wordpress, Php et Javascript </p></figcaption>
                                  </figure>
                                  
                    </div>
                
                    
                  </div>
                  <!--/.Content-->
                </div>
                </div>
            <div class="col-4 projets">
                <figure class="snip1541">
                    <img src="build/img/musee2.png" alt="site de gestion de base de données d'un musée" width:300 height:800 />
                    <figcaption>
                        <h3>Projet <span>Musée</span></h3>
                        <br />
                        <a href="" data-toggle="modal" data-target="#museum"><i class="ion-ios-play-outline"></i></a>
                    </figcaption>
                </figure>
            </div>

            <div class="col-4 projets">
                <figure class="snip1541">
                    <img class="img-fluid" src="build/img/ski2.png" alt="intégration d'une maquette photoshop sur le ski" width:300 height:800 />
                    <figcaption>
                        <h3>Projet <span>ski</span></h3>
                        <br />
                        <a href="" data-toggle="modal" data-target="#ski"> <i class="ion-ios-play-outline"></i></a>
                    </figcaption>
                  
                </figure>
            </div>
            <div class="col-4 projets">
                <figure class="snip1541">
                    <img src="build/img/blueasy.png" alt="intégration d'une maquette avec un formulaire" width:300 height:800 />
                    <figcaption>
                        <h3>Projet <span>blueasy</span></h3>
                        <br />
                        <a href="" data-toggle="modal" data-target="#easy"> <i class="ion-ios-play-outline"></i></a>
                    </figcaption>
                  
                </figure>
            </div>
            <div class="col-4 projets">
                <figure class="snip1541">
                    <img class="img-fluid" id="magical" src="build/img/resto.png" alt="site du restaurant lambda" width:300 height:800 />
                       <figcaption>
                        <h3>Projet <span>Restaurant</span></h3>
                        <br />
                        <a href="" data-toggle="modal" data-target="#lambda"> <i class="ion-ios-play-outline"></i></a>
                    </figcaption>
                  
                </figure>
            </div>
            <div class="col-4 projets">
                <figure class="snip1541">
                    <img class="img-fluid" src="build/img/dash.png" alt="site web de gestion d'un club de sport, sport choisi pour la démo : le foot" width:300 height:800 />
                    <figcaption>
                        <h3>Projet <span>Dashboard</span></h3>
                        <br />
                        <a href="" data-toggle="modal" data-target="#dash">  <i class="ion-ios-play-outline"></i></a>
                    </figcaption>
                
                </figure>
            </div>
            <div class="col-4 projets">
                <figure class="snip1541">
                    <img class="img-fluid" src="build/img/wordpress.png" alt="création d'un thème wordpress" width:300 height:800 />
                    <figcaption>
                        <h3>Projet <span>Wordpress</span></h3>
                        <br />
                        <a href="" data-toggle="modal" data-target="#vinyle"> <i class="ion-ios-play-outline"></i></a>
                    </figcaption>
                  
                </figure>
            </div>



        </div>
    </div>
</section>
{% block javascripts %}{{ encore_entry_script_tags('script') }}{% endblock %}