{% block body %}
<section class="projet2">
        <div class="container-fluid">

 <div class="titre">
        <h4 id="qui">Qui suis-je ?</h4>
        </div>
        <div class="trait">
                <span class="separation"></span>
                </div>
   
<div class="col-8 cadre">
        <div >
<h6>Présentation</h6>

<p>J'ai toujours été passionnée par les nouvelles technologies , l'informatique a toujours été mon dada mais faute de temps, je suis restée connectée mais pas formée.</p>

<p>Après 20 années dans la comptabilité, il est temps de changer de cap. Le métier de comptable se transforme progressivement par l'automatisme des tâches, et l'intégration automatique des documents.</p>
        </div>
        <div class="bouton"><a target="_blank" href="cv/cv i_teyssieux.pdf" class="snip1434">CV format PDF<i class="ion-ios-download-outline" ></i></a>
        </div>



<div class="grafic">
</div>
</div>
</section>
{% endblock %}