<section class="projet2">
        <div class="container-fluid">

 <div class="titre">
        <h4 id="bibi">Qui suis-je ?</h4>
        </div>
        <div class="trait">
                <span class="separation"></span>
                </div>
    <a id="top" title="Go to top" href="#accueil" class="fa fa-chevron-up punchline"></a>
<div class=" col-8 cadre">
<h6>Présentation</h6>

<p>J'ai toujours été passionnée par les nouvelles technologies , l'informatique a toujours été mon dada mais faute de temps, je suis restée connectée mais pas formée.</p>

<p>Après 20 années dans la comptabilité, il est temps de changer de cap et d'orientation. Le métier de comptable se transforme progressivement par l'automatisme des tâches, et l'intégration automatiques des pièces type facture, compte bancaire.</p>
</div>
</section>