<section id="image">
      
        <figure class="snip1190" id="magic">
            <figcaption>
                    <div class="square">
                      <div><br/><br/></div>
                    </div>
                    <h2>Jessica<span> Benton</span></h2>
                    <p>Développeuse application web et mobile junior</p>
           
            </figcaption> 
     </figure>
     <a id="down" title="Bas" href="#qui" class="fa fa-chevron-down punchline"></a>
     <a id="top" title="Haut" href="#accueil" class="fa fa-chevron-up punchline"></a>

 </section>