<header  id="accueil">
        <div class="btn-navig">
        <img src="build/img/etoile2.png" id="etoile">
   
    
        <div class="navigation">
            <ul >
                <li>
                    <a  href="#accueil">ACCUEIL</a>
                </li>
                 <li>
                    <a   href="#parcours">PARCOURS</a>
                </li>
                <li>
                    <a   href="#techno">TECHNOLOGIES</a>
                </li>
                <li >
                    <a  href="#portfolio">PROJETS</a>
                </li>
                <li>
                    <a  href="#technologies">PARCOURS</a>
                </li>
                <li>
                    <a  href="#contact">CONTACT</a>
                </li>
            </ul>
        </div>

      
        <figure class="snip1190" id="magic">
            <figcaption>
                    <div class="square">
                      <div><br/><br/></div>
                    </div>
                    <h2>Isabelle<span> Teyssieux</span></h2>
                    <p>Développeuse application web et mobile junior</p>
           
            </figcaption> 
     </figure>
     <a id="down" title="Bas" href="#" class="fa fa-chevron-down punchline"></a>
     <div class="grafic2">
        </div>
</div>
</header>
