<section class="projet">
        <div class="container-fluid">

 <div class="titre">
        <h4 id="technologies">Les techonologies que j'utilise</h4>
        </div>
        <div class="trait">
                <span class="separation"></span>
                </div>



    </div>
    <div class="titre_techno col-12">
        <div class="col-6"><h6>Coté Front</h6></div>
        <div class="col-6"><h6>Coté Back</h6></div>
</div>
    <div class="container-fluid" id="techno">
              
 <div class="container" id="social">
    <div class="col-12 icon">
        <div class="col-3"><i class="ionicons ion-social-html5-outline"><span>html 5</span></i></div>
    <div class="col-3"><i class="ionicons ion-social-css3-outline"></i></div>
  
   
    <div class="col-3 php"><i class="fab fa-php"></i></div>
    <div class="col-3 sass"><i class="ionicons ion-social-sass"></i></div></div>
    <div class="col-12 icon">
              
    <div class="col-4 iconic js"><i class="ionicons ion-social-javascript-outline"></i></div>
    
    <div class="col-4 code"><a href="" data-toggle="modal" data-target="#code"><i class="ionicons ion-code" title="Voir plus"></i></a></div>

    <div class="col-4 wpr"><i class="ionicons ion-social-wordpress-outline"></i></div></div>
    <div class="col-12 icon ">
           
            <div class="col-3"><p class="technico">Ai</p></div>
           <div class="col-3"><p class="technico">Ps</p></div>
               <div class="col-3 php"><i class="ionicons ion-social-github-outline"></i></div>
                      <div class="col-3 sass"><i class="ionicons ion-merge"></i></div>
          
          
        </div>
        </div>
        </div>
        <div class="modal fade" id="code" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-notify modal-success" role="document">
          <!--Content-->
          <div class="modal-content">
            
            <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">&times;</span>
                          </button>
                        </br>
                           <h2>Mais pas que</h2>
                            
                           
                                  
            </div>
            </div>
            </div>
        </div>
       
    </section>