<section class="projet">
        <div class="container-fluid">

 <div class="titre">
        <h4 id="technologies">Les techonologies que j'utilise</h4>
        </div>
        <div class="trait">
                <span class="separation"></span>
                </div>



    </div>
    <div class="titre_techno col-12">
        <div class="col-6"><h6>Coté Front</h6></div>
        <div class="col-6"><h6>Coté Back</h6></div>
</div>
    <div class="container-fluid" id="techno">
              
 <div class="container" id="social">
    <div class="col-12 icon">
        <div class="col-3"><i class="ionicons ion-social-html5-outline"></i></div>
    <div class="col-3"><i class="ionicons ion-social-css3-outline"></i></div>
  
   
    <div class="col-3 php"><i class="fab fa-php"></i></div>
    <div class="col-3 sass"><i class="ionicons ion-social-sass"></i></div></div>
    <div class="col-12 icon">
              
    <div class="col-4 iconic js"><i class="ionicons ion-social-javascript-outline"></i></div>
    
    <div class="col-4 code"><i class="ionicons ion-code"></i></div>

    <div class="col-4 wpr"><i class="ionicons ion-social-wordpress-outline"></i></div></div>
    <div class="col-12 icon ">
           
            <div class="col-3 technico"><p>Ai</p></div>
           <div class="col-3 technico"><p>Ps</p></div>
               <div class="col-3 php"><i class="ionicons ion-social-github-outline"></i></div>
                      <div class="col-3 sass"><i class="ionicons ion-merge"></i></div>
          
          
        </div>
        </div>
        </div>
        
    </section>